body {
    background-image: url('E:\DEV ARQUIVOS\javascript\Imagens\fundosite.jpg');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Evita a repetição da imagem */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto a página rola */
}
